    body {
        font-family: system-ui;
    }
    
    .nav-link[data-toggle].collapsed:after {
        content: " ►";
        padding-right: 15px;
        float: right;
    }
    
    .nav-link[data-toggle]:not(.collapsed):after {
        content: " ▼";
        padding-right: 15px;
        float: right;
    }
    
    body {
        background-color: #f0efef;
        color: #683816;
        font-weight: 500;
    }
    
    .fa-bars {
        color: sandybrown;
        float: right;
        padding: 20px;
        font-size: 20px !important;
        transform: rotate( 90deg);
    }
    
    .topnav {
        background-color: #5a2d0e;
        overflow: hidden;
    }
    
    #bottomnav {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1;
        display: grid;
    }
    
    .topnav a {
        display: inline-block;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .fa-video-camera {
        color: white;
        float: left;
        /* padding: 22px; */
        font-size: 20px !important;
        padding: 7px;
        border-radius: 8px;
        background: orange;
        height: 40px;
        width: 35px;
        margin-top: 7px;
    }
    
    .nav>li>a,
    .nav>li>a:hover {
        color: #facea8;
    }
    
    #sidebar,
    .nav>li>a:hover {
        background: #68340f;
    }
    
    .sub-nav-item {
        padding-left: 25px;
    }
    
    .nav>li {
        padding: 5px;
    }
    
    #sidebar {
        height: 100%;
        /* width: 160px; */
        position: absolute;
        z-index: 1;
        top: 60px;
        right: 0;
    }
    
    .primary_div {
        padding: 25px;
    }
    
    table {
        width: 100%;
        background: white;
    }
    
    th,
    td {
        text-align: center;
        padding: 10px;
    }
    
    th {
        border-bottom: 1px solid;
    }
    
    #tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }
    
    #tooltip .tooltiptext {
        display: none;
        width: 120px;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    #tooltip .tooltiptext::after {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    
    #tooltip:hover .tooltiptext {
        display: block;
        opacity: 1;
    }
    
    .searchbox {
        position: absolute;
        top: 72%;
        border: 15px solid lightgray;
        text-align: left;
        font-weight: 400;
    }
    
    .filtertext {
        position: absolute;
        top: 72%;
        border: 15px solid lightgray;
        text-align: left;
        font-weight: 400;
        background: lightgray;
    }
    
    .inner {
        background-color: #fff;
        min-height: 400px;
        padding-top: 10px;
    }
    
    .param {
        padding: 0 5px 0 5px;
    }
    
    .desc {
        padding-left: 15px;
    }
    
    .active {
        color: green;
        font-weight: 800;
    }
    
    .inactive {
        color: red;
        font-weight: 800;
    }